<h1>Make your form here</h1>
<form action = "/new" method = "POST">
  <p>Name:<input type = "text" id = "name"></p>
  <p>Weight:<input type = "text" id = "weight"></p>
  <p>Height:<input type = "text" id = "height"></p>
  <input type ="submit" value = "Submit">
</form>
